#hive_logo_a {
	margin: 5px;
}

#hive_logo {
	width: 150px;
	height: 50px;
}

.signup_form p label {
	color: red;

}

.button-login {
	position: relative;
	left : 430%;
}

.button-signup {
	position: relative;
	left : 355%;
}

.btn-danger {
	background-color: #ffd32a !important;
}

.inset {
	width: 55px;
	position: relative;
	left:670px;
	height: 55px;
	border-radius: 50%;
	box-shadow:
		inset 0 0 0 2px rgba(255,255,255,0.6), 
		0 1px 1px rgba(0,0,0,0.1);
	background-color: transparent !important;
	z-index: 999;
}

.inset img {
	border-radius: inherit;
	width: inherit;
	height: inherit;
	display: block;
	position: relative;
	z-index: 998;
}

.user-profile {
	position: relative;
	left: 690px;
	top: 15px;
}

.button-logout{
	position: relative;
	left: 1000px;
	top: 5px;
}

/* For the message of error in the edit profile page for a username that is already existing. */
.form_username_exists p {
	display: table-cell;
	border-style: solid;
	border-color: red;
	border-width: 3px;
	padding: 5px;
}

.single_edit_form {
    float: left;
    width: 40%;
    margin: 2% 5%;
    padding: 1%;
    border-style: inset;
    border-width: 5px;
    border-color: blue;
}

/* Clear floats after the columns */
.edit_forms:after {
    content: "";
    display: table;
    clear: both;
}

.button-follow{
	position: relative;
	left : 75%;
	bottom: 50px;
}

.profile_info {
	border-style: solid;
	/*content: "";
    display: table;
    clear: both;*/
    width: 25%;
    /*The height must be changed when finished to pourcentage I will have to find a way to fix it.*/
    height: 600px;
    margin-left: 2%;
    margin-top: 2%; 
}

.profile_info img {
	border-radius: 50%;
	border-color: #B8B8B8;
	border-width: 6px;
	border-style: solid;
	width: 50%;
	height: 30%;
	margin-left: 25%;
	margin-right: 25%;

}


.profile-bio {
	overflow: scroll;
    max-height: 10%;
    border: red solid 2px;
    margin: 5%;
    background-color: #E0E0E0; 
} 






.btn-primary {
	background-color: #16a085 !important;
}


