{% extends 'base.html'%}
{% block title %}Tweets{% endblock%}

{% load staticfiles %}
{% block content %}
	<div style= "position:relative;right: -38%">
	<h1>Here are all the Tweets : </h1>
	</div>
	<br>
			
	{% for tweet, like, likers in my_list %}
		

		<div class="card border-info mx-auto" style="max-width: 50rem;">
			
			<div class="card-header"> 
				tweet id : {{tweet.id}}
			</div>

			<div class="card-body">
				<h5 class="card-title"> By {{tweet.user.user.username}} </h5>
				<p> {{tweet.text}} </p>
			</div>

			

			{% if like %}
				<div class="button-follow">
					<a href="{% url 'first_app:dislike_tweet' tweet.id%}"> <img class ="like-button" src="{% static 'images/like_button.png' %}"> <role="button" aria-pressed="true"></a>
				</div>

			{% else %}
				<div class="button-follow">
					<a href="{% url 'first_app:like_tweet' tweet.id%}"> <img class ="like-button" src="{% static 'images/not_like_button.png' %}"> <role="button" aria-pressed="true"></a>
				</div>

			{% endif %}

			<div class='all_likes'>
				{% for liker in likers%}
					{{liker.user.username}}
					<br>
				{% endfor%}
			</div>

			
			

		</div>
		

	{% endfor %}


{% endblock %}