{% extends 'base.html'%}
{% block title %}Feed Page{% endblock%}


{% block content %}
<div style= "position:relative;right: -38%">
<h1>Your Feed: </h1>
</div>
<br>
			
  {% for tweet in list %}
  <div class="card border-info mx-auto" style="max-width: 50rem;">
	  			<div class="card-header"> 
	  				{{tweet.title}} --- Tweet id : {{tweet.id}}
				</div>

	  			<div class="card-body">
				    <h5 class="card-title">
				    	{{tweet.text}}	
					</h5>
				    <p class="card-text">Tweet Date : {{tweet.date}} </p>
					By <a href="{% url 'first_app:profile_page' username=tweet.user.user.username %}"> {{tweet.user.user.username}} </a>
	  			</div>
			</div>


  <div >
  	 <h3>{{tweet.user.name}}</h3>
  	<p>
  </div>
  {% endfor %}

{% endblock %}