{% extends 'base.html' %}
{% block title %}Post New Tweet{% endblock %}

{% block content %}
	<div class='edit_forms'>
		<div class='single_edit_form'>
			<h1>Write a new Tweet</h1>
			<form enctype="multipart/form-data" method='POST'>
				{% csrf_token %}
				{{ tweet_form.as_p }}
				<input type="submit" name='post_a_new_tweet' value='Post Tweet'>

			</form>
		</div>

	</div>

	<div style= "position:relative;right: -38%">
		<h1>The lasts Tweets are : </h1>
	</div>

	<br>
				
	{% for tweet in list %}

	<div class="card border-info mx-auto" style="max-width: 50rem;">
		<div class="card-header"> 
			Tweet id : {{tweet.id}}
		</div>

		<div class="card-body">
			<h5 class="card-title"> {{tweet.text}} </h5>
			<p class="card-text">Tweet Date : {{tweet.date}} </p>
			By <a href="{% url 'first_app:profile_page' username=tweet.user.user.username %}">{{tweet.user.user.username}} </a>
		</div>
	</div>


	<div>
		<h3>{{tweet.user.name}}</h3>
		<p>
	</div>
	{% endfor %}


{% endblock %}